<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsoft.template.mapper.auth.RoleMapper">
    <resultMap id="roleMap" type="Role">
        <id property="roleId" column="role_id" />
        <result property="roleCode" column="role_code" />
        <result property="roleName" column="role_name" />
        <result property="roleDescription" column="role_description" />
        <result property="createTime" column="create_time" />
        <result property="status" column="status" />
    </resultMap>
    <select id="getRolesByUser" parameterType="string" resultMap="roleMap">
        select a.* from role a, user_roles b where a.role_id = b.role_id and b.user_id = #{user_id} and a.status = 1
    </select>
    <insert id="saveRoles">
        insert user_roles(user_id, role_id)
        <foreach collection="roles" item="item" index="index" separator="union all">
            select #{userId,jdbcType=VARCHAR}, #{item.roleId,jdbcType=VARCHAR}
        </foreach>
    </insert>
    <delete id="deleteRoles">
        delete from user_roles where user_id = #{userId,jdbcType=VARCHAR}
    </delete>
</mapper>